.pilt{
  width: 100px 
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nupp {
  border: 2px dotted green
}

.nupp:hover {
  cursor: pointer;
  text-decoration: underline;
}

.kuldne {
  color: goldenrod
}

.tume-leht {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.hele-leht{
  background-color: rgb(250, 250, 250);
  min-height: 100vh;
}